iframe {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: white;
	width: 40%;
	height: 110px;
}

.buttonGroup {
	margin: 20px auto;
	width: 50%;
}

.buttonGroup button {
	width: 33%;
	background-color: rgba(255,255,255,0);
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
}

.buttonGroup button:not(:last-child) {
	border-right: none;
}

.buttonGroup button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.buttonGroup button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.buttonGroup button:hover {
	background-color: grey;
}

.buttonGroup:after {
    content: "";
    clear: both;
    display: table;
}


.upload, .restore {
	position: relative;
	margin: 10px auto;
	/*padding: 40px;*/
	width: 100%;
	text-align: center;
}

#chooseFileDiv {
	width: 50%;
	float:left;
}

#statusDiv {
	width:50%;
	float:left;
}

#UploadTitle {
	font-size: 2.5vw;
}


#fileToUpload {
	display: none;
}

.clearRow {
	width: 100%;
	/*text-align: center;*/
}

#chooseFileBtn {
	width: 50%;
	height: 70px;
	margin: 20px auto;
	border-radius: 7px;
	border-width: 0px;
	outline: none;
	font-size: 1.5vw;
	background-color: white;
	box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.4);
}

#chooseFileBtn:hover {
	background-color: rgb(255, 221, 197);
}

#chosenFileLabel, #chosenFileName {
	width: 100%;
	text-align: center;
	font-size: 1.5vw;
	color: white;
}


#submitNewBtn {
	width: 50%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
	min-height: 80px;
	display: block;
	border-radius: 10px;
	border-width: 0;

	/*font-family: "Times New Roman";*/
	font-size: 1.2vw;
	box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.4);
	overflow: auto;
	outline: none;
	cursor: pointer;

	background-color: white;
}

#submitNewBtn:hover {
	background-color: rgb(255, 221, 197);
}

.uploadStatus {
	/*margin: auto;*/
	/*width: 50%*/
	padding: 10px;
}

#uploadStatusResult {
}

.errorDisplay {
	margin-top: 10px;
	text-align: center;
	font-size: 1.5vw;
	padding: 20px;
}

.errorDisplay label {
	width: 100%;
	color: red;
	font-size: 1.5vw;
	font-weight: bold;
}




#restoreTableDiv {
	margin: 10px;
	max-height: 500px;
    overflow: scroll;
}

#restoreTableDiv {
	width: 70%;
	text-align: center;
	margin: 30px auto;
    border-collapse: collapse; /* Collapse borders */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 1vw; /* Increase font-size */
    cursor: pointer;
}

#restoreTableDiv table {
	width: 100%;
	background: transparent;
	color: white;
	font-size: 1.3vw;
}

#restoreTableDiv th {
	background: white;
	color: black;
}

#restoreTableDiv td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
	background: transparent;
}

#restoreTableDiv tbody tr {
	background-color: white;
	border-bottom: 1px solid #ddd;
	/*text-align: left;*/
	background: transparent;
}

#restoreTableDiv tbody tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: rgb(220,220,220);
    color: black;
}

.saveBtn {
	background: none;
	color:white;
	border: none;
	font-size: 1.5vw;
}

.saveBtn:hover{
	color:grey;
}

/*#xrefTableDiv {
	text-align: center;
	margin: 20px auto;
	position: relative;
}*/

#xrefSearchBar {
	text-align: center;
	margin: 20px auto;
	width: 30%;
	border-radius: 3px;
	/*height: 10px;*/
}

#mismatchDiv {
	text-align: center;
	margin: 20px auto;
	width: 30%;
	border-radius: 3px;
	height: 150px;
	color: white;
}

#mismatchListWrap {
	overflow: auto;
	height: 100%;
}

#mismatchDiv ul {
	list-style-type: none;
	/*overflow: auto;*/
}

#xrefSearchBar input {
	width: 100%;
	padding: 5px;
	font-size: 1vw;
	border-radius: 5px;
}

#xrefTableDiv {
	width: 70%;
	height: 700px;
	text-align: center;
	margin: 30px auto;
    border-collapse: collapse; /* Collapse borders */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 1vw; /* Increase font-size */
    overflow: auto;
    cursor: pointer;
}

#xrefTableDiv table {
	width: 100%;
	background: transparent;
	color: white;
	font-size: 1.3vw;
}

#xrefTableDiv th {
	background: white;
	color: black;
	height: 30px;
}

#xrefTableDiv td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
	background: transparent;
}

#xrefTableDiv tbody tr {
	background-color: white;
	border-bottom: 1px solid #ddd;
	/*text-align: left;*/
	background: transparent;
}

#xrefTableDiv tbody tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: rgb(220,220,220);
    color: black;
}

#xrefTable input {
	width: auto;
	height: auto;
	margin: 0;
	top: 0;
	bottom: 0;
}

.nameSort, .numSort {
	background: none;
	border: none;
	color: black;
}

.editRowBtn {
	background: none;
	border: none;
	outline: none;
	width: 100%;
}

.editRowBtn i{
	font-size: 1.5vw;
	/*padding: 10px;*/
}

.editRowDiv {
	display: none;
    /*position: relative;*/
    background-color: rgb(244, 248, 255);
    opacity: 1;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.4);
    z-index: 5;
    border-radius: 5px;
    overflow: auto;
    max-height: 500px;
    width: 100%;
    left:0;
    bottom:0;
    padding: 10px 10px;
    color: black;
}

.deleteRowBtn {
	font-size: 1.5vw;
	background: none;
	color: red;
	border: none;
	outline: none;
}

#insertNewRowDiv {
	width: 70%;
	text-align: center;
	margin: 30px auto;
    border-collapse: collapse; /* Collapse borders */
    font-size: 1.2vw; /* Increase font-size */
    overflow: auto;
    cursor: pointer;
    color: white;
}

.insertRowBtn {
	height: 100%;
	margin:0;
}

.spaceSpan {
	width: 10px;
}


