.cover {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#pdfBox {
    position: relative;
    /*z-index: 1000;*/
    padding-top:10px;
}

.leftContentColumn, .rightContent, .rightContentColumn, .midColumn {
	position: relative;
	float: left;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 18px;
	/*overflow: auto;*/
	/*border-style: solid;
	border-width: 2px;*/
	/*z-index: 2;*/
	opacity: 1;
}

.viewAndOption {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}

.viewAndOption:after {
	content: "";
	display: table;
	clear: both;
}

#filterBackground {
	position: absolute;
	/*position: relative;*/
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
    background-color: rgb(65, 65, 76);
    z-index: -1;
}

.leftContentColumn {
	/*display: inline-block;*/
	width: 25%;
	position: relative;
	/*opacity: 0.9;*/
}

.rightContent {
	width: 75%;
	float: left;
	position: relative;
	overflow: auto;
	z-index: 2;
	/*padding: 0;*/
}

.filterListCol {
	/*float: left;*/
	width: 100%;
	margin: 0;
	padding: 2px;
	/*position: relative;*/
}

.filterListCol p {
	width: 100%;
	font-size: 1.5vw;
	color: white;
	background-color: grey;
	margin:0;
	padding: 10px;/*
	padding-top: 10px;
	padding-bottom: 10px;*/
	cursor: pointer;
}

.filterListCol p:after {
    /*content: '\02795';  Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-right: 10px;
}

/*.filterListCol p:active:after {
    content: "\2796";
		color: white;
}*/

#reportType {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#reportTypeLabel {
	width: 100%;
	color: white;
	font-size: 1.5vw;
}

#reportType .toolTipParent {
	width:10%;
	/*float:left;*/
	color: white;
	text-align: center;
	vertical-align: center;
	padding: auto;
	margin: auto;
	font-size: 1.2vw;
}

#reportType a{
	width:40;
}

#reportTypeSelect {
	width: 50%;
	/*float: left;*/
	border: 1px solid #111;
	/*background-color: white;*/
	/*padding: 5px 35px 5px 5px;*/
	/*margin-bottom: 20px;*/
	padding: 0px 20px;
	padding-right:0;
	font-size: 1.2vw;
	border: 1px solid #ccc;
 	height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
  	appearance: none;
  	background: white;
  	-webkit-background: url('../iconImg/dropdownicon.png') 90% / 5% no-repeat #fff;
  	-moz-background: url('../iconImg/dropdownicon.png') 90% / 5% no-repeat #fff;
}

#reportType:after {
	content: "";
	display: table;
	clear: both;
}

.leftInput input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../iconImg/searchicon.png');
    background-position: 8px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    transition: width 0.3s ease-in-out;
}

.dropDownBtn {
	/*float: left;*/
	width: 100%;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 10px;
	/*background-color: rgb(240, 240, 240);*/
	background-color: white;
	padding: 8px 12px;
	border-width: 0;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	outline: none;
	text-align: right;
	/*font-size: 1.5em;*/
	font-size: 1.3vw;
	white-space: nowrap;
  	overflow: hidden;
	/*overflow: auto;*/

	background-image: url('../iconImg/dropdownicon.png');
	background-size: 15px 15px;
    background-position: 5%;
    background-repeat: no-repeat;
}

.dropDownBtn, .DPBCont {
	cursor: pointer;
}

.resetBtn {
	background: none;
	border: none;
	color: black;
	font-size: 1vw;
}

.resetAll {
	background: none;
	border: none;
	color: white;
	font-size: 1.5vw;
}

.testWrap {
	width: 100%;
	margin: 0;
	padding: 2px;
	position: relative;
}

.DPBCont {
	display: none;
    position: absolute;
    background-color: rgb(244, 248, 255);
    /*width: 100%;*/
    opacity: 1;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.4);
    z-index: 5;
    border-radius: 5px;
    overflow: auto;
    max-height: 500px;
    width: 200%;
    left: 20px;
    /*min-height: 300px;*/
}

.filterContTableBG {
	position: absolute;
	/*position: relative;*/
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 100%;
    background-color: rgb(220,220,220);
    z-index: -1;
}

.filterDisplayList{
	width: 50%;
	float: right;
	border-width: 3px;
	height: 100%;
	padding: 5px;
	overflow: auto;
	/*min-height: 300px;*/
}

.filterDisplayList label {
	font-size: 1vw;
	font-weight: bold;
}

.filterDisplayList ul {
	font-size: 1vw;
	list-style-type: none;
	padding-left: 5px;
	margin: 0;
}

.dropDownBtn:hover {
	background-color: rgb(210, 210, 210);
}

.tableWrap {
	width: 50%;
	float: left;
	overflow: auto;
	background-color: rgb(220,220,220);
	/*overflow-y: scroll;*/
    /*background-color: rgba(100,100,100,0.2);*/
    /*padding: 5px;*/
}

.filterContTable {
	box-sizing: border-box;
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    /*float: left;*/
    word-wrap: break-word;
    /*overflow-y: scroll;*/
}

.filterContTable thead {
	background-color: rgb(120,120,120);
	color: white;
}

.filterContTable td {
    text-align: left; /* Left-align text */
    padding: 5px; /* Add padding */
}

.filterContTable tr {
    /* Add a bottom border to all table rows */
    /*border-bottom: 1px solid #ddd;*/
    /*word-wrap: break-word;*/
}

/*.filterContTable tr:nth-child(odd){
    background-color: rgba(150,150,150,0.4);
}*/

.filterContTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: rgb(80,80,80);
    color: white;
}




#filterApplyBtn {
	width: 100%;
	/*height: 30px;*/
	margin-bottom: 10px;
}

#filterApplyBtn button {
	/*background-color: lightgrey;*/
	width: 100%;
	background-color: rgb(91, 91, 91);
	font-size: 1.5vw;
	color: white;

	padding: 15px;
	display: block;
	border-radius: 10px;
	border-width: 0;
	font-family: "Times New Roman";
	overflow: hidden;
	outline: none;
	cursor: pointer;
}

#filterApplyBtn i{
	font-size: 1.1vw;
}

#filterApplyBtn button:hover {
	/*background-color: lightgrey;*/
	width: 100%;
	background-color: rgb(211, 221, 221);
	color: black;
}

.midColumn {
	position: relative;
	width: 100%;
	opacity: 1;
	/*z-index: -1;*/
	/*background-color: green;*/
	padding: 0;
}

.midColumn h2 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 1.2em;
}

.cover {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#infoLabelWrap {
	width:100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.infoLabel {
	width:33%;
	float: left;
	text-align: left;
	color: white;
	font-size: 1.5vw;
	margin: 0;
}

.pdfView {
	width: 100%;
	overflow: auto;
	margin-bottom:20px;
}

.rightContentColumn {
	width: 100%;
	margin:0;
	padding:0;
}

#optionTabDiv {
	position: relative;
}

#optionTabDiv button {
	/*float: right;*/
	margin: 10px;
	width: 20%;
	padding: 15px;
	display: block;
	background-color: rgb(255,255,255);
	border-radius: 7px;
	border-width: 0;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 1.2vw;
	box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.4);
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: width 0.5s, background-color 0.5s, box-shadow 0.1s;
	opacity: 1;
}

#EmailAll {
	margin: 20px auto;
	margin-bottom: 0;
	width: 30%;
	background-color: rgba(255,255,255,0);
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

#EmailAll:hover {
	background-color: grey;
}

#emailDiv {
	margin-bottom: 20px;
	/*margin: 20px;*/
	padding: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: white;
}

#emailDiv textarea {
	padding: 12px;
	font-size: 1.3vw;
}

#emailDiv p {
	font-size: 1.3vw;
	color: white;
	padding: 0;
	margin:0;
}

#emailSubjectTA {
	width: 50%;
	font-weight: bold;
	overflow: hidden;
}

#emailContentTA {
	width: 100%;
	height: 300px;
	overflow: auto;
}

#sendEmailBtnDiv {
	width: 100%;
}

#sendEmailBtnDiv .toolTipParent {
	width: 20%;
	position:relative;
}

#sendEmailBtnDiv .toolTip {
	position: absolute;
	left: 100%;
	top:0;
}

#sendEmailBtnDiv button {
	width: 100%;
	padding: 10px;
	font-size: 1.1vw;
	text-align: center;
	background-color: white;
	border-width: 0;
	border-radius: 5px;
	outline: none;
	box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.4);
	margin:0;
	margin-top:5px;
	margin-bottom:10px;
}

#sendEmailBtnDiv button:hover {
	background-color: rgb(210,210,232);
}

#sendEmailBtnDiv button:active {
	box-shadow: none;
}

#downloadDiv {
	width: 70%;
	text-align: center;
	margin: 30px auto;
}

#downloadDiv button {
	width: 40%;
	margin:auto;
}

.downloadBtn {
	float: right;
	/*padding: 10px;*/
	font-size: 1.1vw;
	text-align: center;
	background-color: white;
	border-width: 0;
	border-radius: 5px;
	outline: none;
	width:30%;
	height: 30px;
}

#downloadSelected {
	/*width: 30%;*/
}

#downloadCurrent {
	/*width: 33%;*/
	/*padding: 10px;
	margin:auto;*/
}

.downloadBtn i{
	color:black;
}

.viewAndOption:after {
	content: "";
	display: table;
	clear: both;
}

.filterOverview {
	width: 100%;
	/*padding: 40px 18px;*/
	/*margin-top: 1px;*/
	/*margin-bottom: 0;*/
	overflow: hidden;
	margin:0;
}

#overviewTableDiv {
	margin: 10px 0;
	max-height: 500px;
    overflow: scroll;
    position: relative;
}

#overviewTable {
	width: 100%;
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 1vw; /* Increase font-size */
    text-align: center;
    table-layout: fixed;
    cursor: pointer;
    /*position: relative;*/
}

#overviewTable thead > tr{
	/*padding: 10px;*/
	height: 50px;
	background-color: rgb(185,185,185);
}

#overviewTable thead button{
	/*padding: 10px;*/
	background: none;
	border:none;
	font-size: 1.2vw;
	outline: none;
}

#overviewTable td {
    text-align: center; /* Left-align text */
    vertical-align: middle;
    padding: 10px; /* Add padding */
}

#overviewTable tr {
	background-color: white;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#overviewTable tbody {
	overflow: auto;
}

#overviewTable tbody > tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: rgb(220,220,220);
    color: black;
}

.infoInfo {
	position: relative;
}

.infoHoverBtn {
	background: none;
	color: black;
	border: none;
}

.infoHoverDPBCont {
	display: none;
    position: absolute;
    background-color: rgb(244, 248, 255);
    /*width: 100%;*/
    opacity: 1;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.4);
    z-index: 5;
    border-radius: 5px;
    overflow: auto;
    max-height: 500px;
    width: 100%;
    left:60%;
    bottom:0;
    padding: 10px 10px;
}

.infoHoverDPBCont ul {
	list-style-type: none;
	text-align:left;
	margin:0;
	padding:0;
}

.viewReportBtn {
	width: 80%;
	height: 30px;
	font-size: 1vw;
	border-radius: 4px;
	background-color: white;
	outline: none;
	border:none;
	/*margin:auto;*/
}

#hoursShortDiv {
	color: white;
	font-size: 1.3vw;
	cursor: pointer;
}

#hoursShortDiv label {
  -webkit-user-select:none;
  /*-khtml-user-select:none;*/
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  cursor: pointer;
}

#hoursShortDiv input {
	cursor: pointer;
}


