.leftContentColumn, .midColumn {
	position: relative;
	float: left;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 18px;
	/*z-index: 2;*/
}

.leftContentColumn {
	/*display: inline-block;*/
	width: 25%;
	/*opacity: 0.9;*/
	text-align: center;
	height: 100%;
	margin-bottom: 10px;
}

#filterBackground {
	position: absolute;
	/*position: relative;*/
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
    background-color: rgb(65, 65, 76);
    z-index: -1;
}

.yearType {
	width: 100%;
}

.yearType select {
	border: 1px solid #111;
	background: transparent;
	width: 70%;
	/*padding: 5px 35px 5px 5px;*/
	margin-bottom: 20px;
	padding: 0px 20px;
	font-size: 1.2vw;
	border: 1px solid #ccc;
 	height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
  	appearance: none;
  	background: url('../iconImg/dropdownicon.png') 90% / 5% no-repeat #eee;
	cursor: pointer;
}

#yearTypeSelect {
	width: 80%;
}

.filterListCol {
	position: relative;
	margin-top: 10px;
	padding: 2px;
	/*height: 150px;*/
	width: 100%;
	overflow: auto;
}

.filterListCol label {
	text-align: center;
	font-size: 1.2vw;
	color: white;
}

.filterListCol p {
	margin: 0;
	width: 50%;
	float: left;
	color: white;
	font-size: 1.5vw;
	/*text-align: center;*/
}

.dropDownFilter {
	width: 50%;
	float: left;
	padding: 5px;
}

.DPBCont {
	cursor: pointer;
}

.dropDownFilter:hover .DPBCont {
	display: inline-block;
}

.dropDownFilter select {
 	border: 1px solid #111;
  	background: transparent;
  	width: 150px;
  	padding: 5px 35px 5px 5px;
  	font-size: 1.2vw;
  	border: 1px solid #ccc;
  	height: 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
  	appearance: none;
  	background: url('../iconImg/dropdownicon.png') 90% / 10% no-repeat #eee;
	cursor: pointer;
}

.DPBCont {
	display: none;
    position: absolute;
    background-color: rgb(244, 248, 255);
    min-width: 160px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.4);
    border-radius: 5px;
    /*overflow: auto;*/
}

.DPBCont a{
	text-align: left;
	color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.DPBCont a:hover {
	background-color: rgb(200, 217, 247);
}


.dropDownFilter select:after {
	content: "";
	clear: both;
	display: table;
}

#genReportDiv {
	margin-top: 20px;
}

#genReportBtn {
	margin: 10px auto;
	width: 60%;
	padding: 10px;
	display: block;
	border-radius: 7px;
	border-width: 0;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 1.2vw;
	background-color: rgb(240,240,240);
	box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.4);
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: width 0.5s, box-shadow 0.1s;
}

#genReportBtn:hover {
	width: 50%;
}

#genReportBtn:active {
	box-shadow: none;
}

.optionContent {
	/*position: absolute;*/
	margin: 30px 0;
	width: 100%;
	overflow: auto;

}

.optionContent button {
	margin: 10px auto;
	width: 80%;
	padding: 30px;
	display: block;
	border-radius: 7px;
	border-width: 0;
	text-align: right;
	font-family: "Times New Roman";
	font-size: 1.2vw;
	box-shadow: 7px 7px 10px rgba(20, 20, 20, 0.4);
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: width 0.5s, background-color 0.5s, box-shadow 0.1s;
}

.optionContent button:hover {
	width: 70%;
}

.optionContent button:active {
	box-shadow: none;
}

.optionContent button[id="Download"] {
	background-color: rgb(255,255,255);
	background-image: url('../iconImg/downloadicon.png');
	background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10%;
}

.optionContent button[id="Download"]:hover {
	background-color: rgb(205, 249, 164);
}

.optionContent button[id="Print"] {
	background-color: rgb(255,255,255);
	background-image: url('../iconImg/printicon.png');
	background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10%;
}

.optionContent button[id="Print"]:hover {
	background-color: rgb(200, 200, 200);
}

.midColumn {
	/*display: inline-block;*/
	position: relative;
	width: 75%;
	opacity: 1;
	z-index: 4;
	pad
}

.midColumn h2 {
	padding: 0;
	text-align: center;
	font-size: 1.2em;
}

.pdfView {
	/*padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;*/
	margin-top: 5px;
	overflow: scroll;
	margin-bottom: 20px;
}

#pdfBox {
	/*box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);*/
}