* {
	box-sizing: border-box;
	font-family: "Times New Roman";
	text-transform: uppercase;
	font-variant: small-caps;
}

body{
	margin: 0px;
	font-size: 100%;
	/*background: linear-gradient(rgb(153, 214, 255), rgb(230, 245, 255),rgb(153, 214, 255));*/
}

button, select {
	cursor: pointer;
}

.top {
	position: relative;
	background: linear-gradient(to left,rgba(0, 41, 124, 1), rgba(237, 243, 255,0.5));
	/*padding: 30px;*/

	/*background: linear-gradient(to right,blue, red);*/
    overflow: hidden;
    /*border:none;*/
    border-bottom-width: 5px;
    min-height: 250px;
}

.top:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.6;
    background-image: url('../BGimg/LAnight.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;/*
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;*/
    background-size: cover;
}

.header {/*
	margin-top: 30px;
	margin-bottom: 30px;*/
	/*margin: 30px auto;*/
	/*top: 140px;*/
}
/*
#pageTitle {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.header h1, .header h3 {
	position: relative;
	text-align: center;
	margin: 100px auto;
	color: white;

	/*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.header h1 {
	font-size: 2.8vw;
	/*padding-top: 10px;*/
	/*padding-left: 120px;*/
	/*padding-right: 120px;*/
	padding-bottom: 0px;
	/*margin-top: 30px;*/
	/*margin: 20px auto;*/
	margin-bottom: 0px;
	/*z-index: 2;*/
}

.header h3 {
	font-size: 1.2vw;
	margin-top: 0px;
	padding-top: 0px;
	/*margin-bottom: 20px;*/
	/*z-index: 2;*/
	/*padding-
	bottom: 20px;*/
}

.Welcome {
	/*margin:20px;
	position: relative;
	z-index: 5;
	float: right;
	font-size: 1.5vw;
	text-align: right;
	color: white;*/

	position: absolute;
	top:30px;
	right: 50px;
	color: white;
	font-size: 1.2vw;
	text-align: right;
	/*z-index: 50;*/
	/*float: right;*/
}

.header img {
	position: absolute;
	/*vertical-align: center;*/
	left: 18px;
	top: 18px;
	max-width: 20%;
	height: auto;
	z-index: 1;
	overflow: hidden;
}

.header img:after {
	content: "";
	display: table;
	clear: both;
}

.header hr {
	position: relative;
	width: 70%;
	color: black;
	border-color: white;
}

.header:after {
	content: "";
	display: table;
	clear: both;
}

.navigationBar {
	background-color: rgba(51, 51, 51,0.8);
	margin-top: 60px;
	position: absolute;
	/*background: linear-gradient(to right, rgba(40, 40, 40, 1), rgba(255, 255, 255, 0));*/
	width: 100%;
	/*z-index: 2;*/
	bottom: 0;
	border-width: 0;
	/*border-top-left-radius: 8px;*/
}

/*.navigationBar img {
	max-width: 4%;
	height: auto;
}*/

.navigationBar a {
	float: left;
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 10px 16px;
	text-align: center;
	font-size: 1.2em;
	/*font-size: 1.5vw;*/
	/*transition: font-size 0.4s;*/
}

.navigationBar a:hover {
	background-color: rgb(204, 204, 204);
	color: rgb(38, 38, 38);
	/*font-size: 1.8vw;*/
}

#homeTab {
	border-width: 0;
}

#issueTab {
	float: right;
	display: block;
	color: rgb(255, 56, 56);
	text-decoration: none;
	padding: 10px 16px;
	text-align: center;
	font-size: 1.2em;
	/*font-size: 1.5vw;*/
	border-width: 0;
	border-top-right-radius: 8px;
}

#issueTab:hover {
	background: rgb(108, 108, 108);
	color: rgb(255, 56, 56);
	border-width: 0;
	border-top-right-radius: 8px;
	/*font-size: 1.8vw;*/
}

.content {
	position: relative;
	/*background: linear-gradient(to right,rgb(67, 102, 173), rgb(255, 255, 255));*/
	background-color: rgb(67, 102, 173);
	padding: 0px;
	min-height: 600px;
	/*background: linear-gradient(to right,blue, red);*/
    overflow: auto;
    z-index: 0;
}

.content:after {
	content: "";
	display: table;
	clear: both;
}

.banLabel {
	/*display: none;*/
	margin:0;
	width: 100%;
	padding: 10px 10px;
	font-size: 1.5vw;
	background-color: rgb(17, 27, 40);
	color: white;
	border-width: 0px;
	/*border-radius: 4px;*/
	/*border-top-right-radius: 8px;
	border-top-left-radius: 8px;*/
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	opacity: 1;
}

.footer {
	/*background-color: rgb(64, 64, 64);*/
	background: linear-gradient(to top, rgb(70, 70, 70), rgb(40, 40, 40));
	color: white;
	padding: 14px;
	text-align: center;
	width: 100%;
	bottom: 0;
}

.links span a {
	font-size: 1.5vw;
	text-decoration: none;
	color: white;
	margin: 50px;
	margin-top: 30px;
}