.faqContent {
	width: 80%;
	margin: 20px auto;
	z-index: 1;
}

.questionButton{
	text-align: center;
	width: 30%;
	height: 30px;
	margin-top: 10px;
	margin-left: 30px;
	font-size: 1.5vw;
	background: none;
	color: white;
	border: none;
}

.answerDiv {
	display: none;
}

.answerDiv p{
	position: relative;
	width: 80%;
	margin: 10px auto;
	margin-top: 0;
	font-size: 1.1vw;
	color: white;
	overflow: auto;
}

.downArrowSpan {
	margin: auto 5px;
}
