.content p {
	padding: 8px;
	width: 30%;
	margin:20px;
	font-size: 1.1vw;
	color: white;
	/*background-color: rgb(206, 218, 255);*/
	/*border-width: 0;*/
	/*border-radius: 10px;*/
	cursor: pointer;
}

.faqContent {
	z-index: 1;
}

p.pFiltersLabel {
	width: 80%;
	margin: 30px auto;
	margin-bottom: 0;
	font-size: 1.5vw;
	background-color: rgba(40,40,40);
	color: white;
	/*border-style: inset;*/
	/*border-width: 2px;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-image: url('../iconImg/dropdownicon.png');
	background-size: 15px 15px;
    background-position: 98%; 
    background-repeat: no-repeat;
}

.dropDownFilter p{
	width: 90%;
	margin: 10px auto;
	margin-top: 0;
	font-size: 1.2vw;
	color: white;
	/*box-shadow: 2px 8px 10px 0px rgba(0,0,0,0.3);*/
	overflow: auto;
}